body {
font-family: 'Darumadrop One', sans-serif;
background-image: url("images/bg.png");
background-size: 350px;
background-repeat: repeat;
}

.header {
background-color: #6a6d7d;
border: 5px solid;
border-color: #625e6f;
border-radius: 2px;
color: #2f2d35;
font-size: 50px;
text-align: center;
width: 800px;
margin: auto;
}

.content {
  background-color: #6a6d7d;
  border: 5px solid;
  border-color: #625e6f;
  border-radius: 2px;
  color: #2f2d35;
  font-size: 30px;
  text-align: center;
  width: 800px;
  margin: auto;
  }

  hr.new2 {
    height: 2px;
    background-color: #2f2d35;
    border: none;
  }
.bottom {
background-image: url("images/kitty.gif");
background-repeat: repeat-x;
background-color: #6a6d7d;
background-size: 200px;
border: 5px solid;
border-color: #625e6f;
border-radius: 2px;
color: #2f2d35;
font-size: 50px;
text-align: center;
width: 800px;
height: 200px;
margin: auto;
}
