body {
font-family: 'Darumadrop One', sans-serif;
background-image: url("images/bg.png");
background-size: 350px;
background-repeat: repeat;
}

.box {
background-color: #6a6d7d;
border: 5px solid;
border-color: #625e6f;
color: #2f2d35;
font-size: 50px;
}