body {
background-color: #fce0ec;
font-family: myFirstFont;
}

div {
background-color: #ffdbe9;
border-radius: 10px;
}

@font-face {
    font-family: myFirstFont;
    src: url(MochiyPopPOne-Regular.ttf);
  }